@include desktop {
    .head {
        &_container {
            background-color: $primaryLightColor;
            &::after {
                top: 4rem;
                width: 98vw;
                margin: auto;
            }
        }
        &__logo {
            justify-self: flex-start;
            margin-left: $md-gutter;
            & img {
                height: 3.5rem;
            }
        }
        &__thanks {
            &:hover::before {
                background-color: transparent;
            }
        }
    }
    .nav {
        padding-top: 8rem;
        width: 40dvw;
        z-index: -1;
        .menu-nav {
            &_item {
                color: #000;
                .blink-it {
                    animation: shake-back-n-forth 3s ease 0s infinite normal
                        forwards;
                }
                @keyframes shake-back-n-forth {
                    0%,
                    100% {
                        transform: translateX(0);
                    }

                    10%,
                    30%,
                    50%,
                    70% {
                        transform: translateX(-10px);
                    }

                    20%,
                    40%,
                    60% {
                        transform: translateX(10px);
                    }

                    80% {
                        transform: translateX(8px);
                    }

                    90% {
                        transform: translateX(-8px);
                    }
                }
            }
        }
    }
    .landing-body {
        margin-top: $m-top * 3;
        &_welcome-text {
            background-color: $primaryLightColor;
            .star {
            }
            .header {
                &_pre {
                    scale: 1.2;
                    font-weight: bold;
                }
                &_main {
                    scale: 2;
                    line-height: 2;
                }
            }
        }
        &_description {
            max-width: 50vw;
            margin-bottom: $sm-gutter;
        }
        &_welcome-heroes {
            margin-top: -35vh;
            img {
                z-index: -5;
            }
        }
    }
    .section-two {
        &_welcome2 {
            margin: 2vh auto;
            max-width: 50vw;
        }
        .btn {
            &-wrapper {
                .curiosity-para {
                    font-size: 1.5rem;
                    margin-left: 4rem;
                }
                .discuss-container {
                    margin: 0;
                    background-image: none;
                }
            }
            &_entrance {
            }
            &_discuss-now {
                max-width: 20vw;
                margin: auto;
            }
        }
    }
}
